.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player img{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p1{
    text-align: left;
    padding-right: 450px;
}

.p3{
    text-align: right;
    padding-left: 450px;
}